<!DOCTYPE html>
{% load static %}
<html lang="ru">
   <head>
      <title>Страница ошибки домена mag-aleksey.ru</title>
      <!-- Meta tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta charset="utf-8" />
      <meta name="keywords" content="Adorable Error Page Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"
         />
      <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
      </script>
      <!-- Meta tags -->
      <!-- font-awesome icons -->
      <link href="{% static 'css/404/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css" media="all">
      <!-- //font-awesome icons -->
      <!--stylesheets-->
      <link href="{% static 'css/404/css/style.css' %}" rel='stylesheet' type='text/css' media="all">
      <!--//style sheet end here-->
      <link href="//fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
   </head>
   <body>
      <h1 class="error">СТРАНИЦА ОШИБКИ ДОМЕНА</h1>
      <div class="top-w3ls">
         <h2>404</h2>
         <h3>Упс ..! Извините, страница не найдена</h3>
         <nav class="border-line">
            <ul class="nav flex-column">
               <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Главная <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'about' %}" class="nav-link ">Обо мне</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'articles' %}" class="nav-link">Статьи о магии</a>
               </li>
               <li class="nav-item">
                  <a href="{% url 'contact' %}" class="nav-link">Контакты</a>
               </li>
            </ul>
         </nav>
      </div>
      <div class="copyright">
         <div class="icons">
            <ul>
               <li>
                  <a href="https://www.facebook.com/alexey.borisov.311">
                  <span class="fab fa-facebook-f"></span>
                  </a>
               </li>
               <li>
                  <a href="https://ok.ru/profile/314866298611">
                  <span class="fab fa-odnoklassniki"></span>
                  </a>
               </li>
               <li>
                  <a href="https://www.youtube.com/channel/UCBngLKEtYHjcGXgr2mrt8dA/videos">
                  <span class="fab fa-youtube"></span>
                  </a>
               </li>
               <li>
                  <a href="https://vk.com/mag_borisov_aleksey_borisovich">
                  <span class="fab fa-vk">
                  </span>
                  </a>
               </li>
			   <li>
                  <a href="https://www.instagram.com/magborisov/">
                  <span class="fab fa-instagram">
                  </span>
                  </a>
               </li>
			   <li>
                  <a href="https://api.whatsapp.com/send?phone=79029230803">
                  <span class="fab fa-whatsapp">
                  </span>
                  </a>
               </li>
			   <li>
                  <a href="https://t.me/Aleksey_Mag">
                  <span class="fa fa-paper-plane">
                  </span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </body>
</html>