<!doctype html>
{% load static %}
<html lang="ru">
<head>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(28215921, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/28215921" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="маг борисов алексей борисович, маги красноярска, отзывы о магах красноярска, приворот, гадание, таро, восстановление семьи, возврат мужа, практическая магия, черная магия, белая магия, экстрасенс, целитель, древние ритуалы и обряды, лучший маг красноярска" />
  <meta name="description" content="Сибирский белый маг Алексей Борисович Борисов поможет вам справиться с любыми жизненными проблемами. На сайте вы можете найти необходимую информацию об услугах, контактную информацию, посетить магический интернет-магазин, а также прочитать интересные статьи о магии." />

  <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

  <title>Обо мне</title>

</head>

{% include 'inc/_nav.html' %}

<body>

<div id="col-about">
    <div id="item-page">
        <h2>Обо мне</h2>
        <p>Я Борисов Алексей родился в г.Красноярске в 1980 году. Проживаю в г. Красноярске, со своей семьей, имею троих детей. Изучать эзотерику начал будучи учеником в школе. Раньше мне приходилось наблюдать некоторые магические обряды которые делали мой отец Борис Алексеевич и бабушка Евгения Филипповна. С 7 лет бабушка стала меня обучать сначала простым, а позже более сложным обрядам и ритуалам, рассказывала о том как она получила этот дар, как ей в свое время передала баба Федора.</p>
        <p>Магические предметы и книги с описаниями обрядов я получил от бабушки за пару дней до ее смерти в феврале 2005 года. Когда я спросил «Почему все это ты передаешь именно мне?», она ответила: «Ты единственный из внуков у кого есть магические способности, из моих детей твой отец был один одаренный.»</p>
        <p>С 1997 года я проходил обучение в нескольких частных магических школах, а так же у практикующих экстрасенсов Москвы, Санкт-Петербурга, Новосибирска, Красноярска. С 2000 года занимаюсь практикой магией, веду личный прием в г. Красноярске по настоящее время.</p>
        <img src="/media/gallery/mag-aleksey-borisov.jpg" width="350" height="500">
    </div>
</div>
<div id="space-5">

</div>
</body>