<!doctype html>
{% load static %}
<html lang="ru">
<head>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(28215921, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/28215921" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="магия, приворот, гадание, ясновидение, эзотерика, экстрасенсорика, черная магия, белая магия, вуду, маг алексей борисов, целительство" />
  <meta name="description" content="Сибирский маг Алексей Борисов окажет различные магические услуги для решения любых жизненных ситуаций" />

  <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

  <title>Услуги</title>

{% include 'inc/_nav.html' %}

</head>

<body>

<div id="col-services">
    <div id="item-services">
        <div class="cat-children">

            <div class="category-desc1">
                <div id="img-service">
                    <h2> Магия любви </h2>
                    <p id="service-p"> Современная реальность такова, что сегодня не каждый готов бороться за свою любовь привычными способами. Одни стараются купить ее за деньги, другие получают обманом, а третьи — прибегают к магии.</p>
                    <a href="https://wa.me/79029230803"><button type="button" class="btn btn-success" id="button-whatsapp">Написать в What's App</button></a>
                    <a href="viber://chat?number=%2B9029230803"><button type="button" class="btn" id="button-viber">Написать в Viber</button></a>
                    <a href="https://telegram.im/@Aleksey_Mag"><button type="button" class="btn btn-info" id="button-telegram">Написать в Telegram</button></a>
                </div>
            </div>

            <div class="category-desc2">
                <div id="img-service">
                    <h2> Магия денег </h2>
                    <p id="service-p"> В магии денег существует достаточное количество обрядов, заговоров и молитв, которые помогут вам уберечь свой бизнес от сглаза и порчи, а также улучшат ваше финансовое благополучие.</p>
                    <a href="https://wa.me/79029230803"><button type="button" class="btn btn-success" id="button-whatsapp">Написать в What's App</button></a>
                    <a href="viber://chat?number=%2B9029230803"><button type="button" class="btn" id="button-viber">Написать в Viber</button></a>
                    <a href="https://telegram.im/@Aleksey_Mag"><button type="button" class="btn btn-info" id="button-telegram">Написать в Telegram</button></a>
                </div>
            </div>

            <div class="category-desc3">
                <div id="img-service3">
                    <h2> Черная магия </h2>
                    <p id="service-p"> Черная магия - это особые ритуалы, требующие особых знаний и колоссальных усилий. Обряды черной магии направлены на негативное изменение ауры человека, подчинение воли.</p>
                    <a href="https://wa.me/79029230803"><button type="button" class="btn btn-success" id="button-whatsapp">Написать в What's App</button></a>
                    <a href="viber://chat?number=%2B9029230803"><button type="button" class="btn" id="button-viber">Написать в Viber</button></a>
                    <a href="https://telegram.im/@Aleksey_Mag"><button type="button" class="btn btn-info" id="button-telegram">Написать в Telegram</button></a>
                </div>
            </div>

            <div class="category-desc4">
                <div id="img-service">
                    <h2> Практическая магия </h2>
                    <p id="service-p"> Практическая магия включает в себя различные гадания, а также диагностические обряды. Практическая магия способна подсказать человеку правильный жизненный путь и даст ответы на нужные вопросы.</p>
                    <a href="https://wa.me/79029230803"><button type="button" class="btn btn-success" id="button-whatsapp">Написать в What's App</button></a>
                    <a href="viber://chat?number=%2B9029230803"><button type="button" class="btn" id="button-viber">Написать в Viber</button></a>
                    <a href="https://telegram.im/@Aleksey_Mag"><button type="button" class="btn btn-info" id="button-telegram">Написать в Telegram</button></a>
                </div>
            </div>

            <div class="category-desc5">
                <div id="img-service5">
                    <h2> Все виды гадания </h2>
                    <p id="service-p"> Со стародавних времен и по сей день человечество пытается узнать свою судьбу, разобраться в своем будущем и приоткрыть тайную завесу своей судьбы с помощью гаданий.</p>
                    <a href="https://wa.me/79029230803"><button type="button" class="btn btn-success" id="button-whatsapp">Написать в What's App</button></a>
                    <a href="viber://chat?number=%2B9029230803"><button type="button" class="btn" id="button-viber">Написать в Viber</button></a>
                    <a href="https://telegram.im/@Aleksey_Mag"><button type="button" class="btn btn-info" id="button-telegram">Написать в Telegram</button></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="space-5">

</div>
</body>